<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728090982970-50n75omfg356i5akmp9gg96reaf4no6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728090982970-50n75omfg356i5akmp9gg96reaf4no6v</string>
	<key>API_KEY</key>
	<string>AIzaSyBSK9OB5ZUryHfu6dHTDxnTuEJ-OZ9-Vic</string>
	<key>GCM_SENDER_ID</key>
	<string>728090982970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>crypto-wallet-ccl</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-wallet-ccl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728090982970:ios:3d162e69fee306a5c8d303</string>
</dict>
</plist>